# Quiz#4
* Name KAZIM TANVEER
* UMER TANVEER

# What is machine learning?
Machine learning is the branch of artifical intelligence where systems learn the patterns from data aand make decsions and predictions  without doing the explict programming

# 2. What are the three main types of machine learning?
three types of machine learning are:
Supervised learning 
Unsupervised learning
Reinforcement learning

# 3. Define supervised learning and provide an example
Supervised learning used labeled data to train to models.Its uses both inpuy adn output 
example : predicting the house price using feature like price ,location,size

# Define unsupervised learning and provide an example.
Unsupervised learning used umlabeled data to find  patterns.It uses inpts only 
example :  Customer Segmentation using clustering

# 5. What is reinforcement learning?
Reinforcement Learning learns through trials and test errors using rewards and panelties method 
eg:training a robort  for a walk

# 6. What is the difference between classification and regression?
Classification predicts  catagories 
eg: spam dectection
Regression predicts continous values,
eg : Temperature

# 7. What is overfitting in machine learning?
model memorize traning data including noice leading to poor generalization.

# 8. What is underfitting in machine learning?
Underfitting when model is too simple to capture data patterns performing poorly on all data

# 9. What is a feature in machine learning?
Input variable used for predictions
e.g., "age" in a loan approval model.

# 10. What is a label in supervised learning?
Output variable in supervised learning
e.g., "spam" in email classification.

# k-means Clustering?
Groups data into k clusters based on similarity (e.g., market segmentation).

# 1= What is Python, and why is it widely used in data science?
* Python is a programming language widely used for Data scientists.
* It contains builtin libraries like Pandas , numpy ,scikit , etc that are very usefull for statistics and analysis of data.
* It is easy to perform amthematically operations and performs analysis.
* Its clean syntax and simplicty make it a choice for beginners.

# 2= Explain the difference between a variable and a constant in Python?
## variable
* A variable is used to store values in  Dataframe and its values canbe change according to requirments.
* e.g x=[5,6]
## constant
* A constant is also a veriable but its value is fixed and can't be change with the requirment.
* e.g PI=3.141567

# 3=How do you create a Pandas DataFrame from a dictionary?

In [5]:
# We can create a dataframe from a dictionary by using the syntax.
# df = pd.DataFrame()

import pandas as pd
import numpy as np
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)
print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   22     Paris

# 4=How do you display the first five rows of a Pandas DataFrame?

In [7]:
# To display first five rows of a data frame use following syntax.
# df.head()

data={"name":["kazim","umer","ali","ahmed","atif","tayyab","kashif","asad","tariq","qamar"],
      "last_name":["khan","tanveer","amjd","umer","safeer","asad","tariq","kashif","hatim","john"],
      "age":[20,22,23,23,24,25,26,30,31,32],
      "department":["cs","se","ds","it","bba","d_form","bs_maths","law","english","stats"]}
df = pd.DataFrame(data)
df.head()

    name last_name  age department
0  kazim      khan   20         cs
1   umer   tanveer   22         se
2    ali      amjd   23         ds
3  ahmed      umer   23         it
4   atif    safeer   24        bba

# 5=What is the difference between the loc and iloc indexers in Pandas? Provide examples?

In [9]:
# loc:
#  Label-based indexing: loc uses explicit labels or names to access data,
#  this means you can directly specify the row and column labels you want to select.

data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 22],
        'City': ['New York', 'London', 'Paris']}
df = pd.DataFrame(data)
row=["a","b","c"]
df.index=row
print(df)

# select the third value of age
print("the third value of age is")
df.loc["c","Age"]

      Name  Age      City
a    Alice   25  New York
b      Bob   30    London
c  Charlie   22     Paris
the third value of age is

22

In [10]:
# iloc:
# Integer-based indexing: iloc uses integer positions to access data.
# This means you specify the row and column positions (starting from 0) to select.
# Select the first two rows
print(df.iloc[0:2])

# Select the first row and all columns
print(df.iloc[0, :])

# Select the first two rows and the first two columns
print(df.iloc[0:2, 0:2])

    Name  Age      City
a  Alice   25  New York
b    Bob   30    London
Name       Alice
Age           25
City    New York
Name: a, dtype: object
    Name  Age
a  Alice   25
b    Bob   30

# 6=.What is the purpose of the merge() function in Pandas? How does it differ from concat()?

In [12]:
# In concat two datasets are combined vertically and horizontally.
# In merge two data sets are merged with speceific common columns or index.

data1={"EMPID":["E01","E02","E03","E04","E05"],
    "name":[None,"umer","ali","ahmed",None],
      "last_name":["khan","tanveer","amjd","umer","safeer"],
      "age":[20,23,None,24,None],
      "department":["cs","se","ds","it","bba"]}
df1=pd.DataFrame(data1)
print(df1)
data2={"EMPID":["E01","E02","E03","E04","E06"],
    "name":["tayyab","kashif","asad","tariq","qamar"],
      "last_name":["asad","tariq","kashif","hatim","john"],
       "salary":[1000,2000,3000,4000,5000],
       "salary_2":[16000,28000,38000,48000,9000],
      "age":[20,22,23,None,24],
      "department":["d_form","bs_maths","law","english","stats"]}
df2=pd.DataFrame(data2)
print(df2)

# for merge
pd.merge(df1,df2,on="EMPID")

# for conacte
pd.concat([df1,df2])

  EMPID   name last_name   age department
0   E01   None      khan  20.0         cs
1   E02   umer   tanveer  23.0         se
2   E03    ali      amjd   NaN         ds
3   E04  ahmed      umer  24.0         it
4   E05   None    safeer   NaN        bba
  EMPID    name last_name  salary  salary_2   age department
0   E01  tayyab      asad    1000     16000  20.0     d_form
1   E02  kashif     tariq    2000     28000  22.0   bs_maths
2   E03    asad    kashif    3000     38000  23.0        law
3   E04   tariq     hatim    4000     48000   NaN    english
4   E06   qamar      john    5000      9000  24.0      stats

  EMPID    name last_name   age department  salary  salary_2
0   E01    None      khan  20.0         cs     NaN       NaN
1   E02    umer   tanveer  23.0         se     NaN       NaN
2   E03     ali      amjd   NaN         ds     NaN       NaN
3   E04   ahmed      umer  24.0         it     NaN       NaN
4   E05    None    safeer   NaN        bba     NaN       NaN
0   E01  tayyab      asad  20.0     d_form  1000.0   16000.0
1   E02  kashif     tariq  22.0   bs_maths  2000.0   28000.0
2   E03    asad    kashif  23.0        law  3000.0   38000.0
3   E04   tariq     hatim   NaN    english  4000.0   48000.0
4   E06   qamar      john  24.0      stats  5000.0    9000.0

# 7=.How do you sort a Pandas DataFrame by a specific column?

In [14]:
# Sample DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 20, 22],
        'City': ['New York', 'San Diego', 'Chicago', 'Houston']}
df = pd.DataFrame(data)

# Sort by 'Age' in ascending order
df_sorted_asc = df.sort_values('Age')

# Sort by 'Age' in descending order
df_sorted_desc = df.sort_values('Age', ascending=False)

print("Sorted DataFrame (Ascending):\n", df_sorted_asc)
print("\nSorted DataFrame (Descending):\n", df_sorted_desc)

Sorted DataFrame (Ascending):
       Name  Age       City
2  Charlie   20    Chicago
3    David   22    Houston
0    Alice   25   New York
1      Bob   30  San Diego

Sorted DataFrame (Descending):
       Name  Age       City
1      Bob   30  San Diego
0    Alice   25   New York
3    David   22    Houston
2  Charlie   20    Chicago

# 8=Create a Pandas DataFrame with sample data (e.g., student names and marks) and save it as a CSV file.

In [16]:
# Sample data
data = {
    'Student': ['Alice', 'Bob', 'Charlie', 'David'],
    'Math': [85, 92, 78, 95],
    'Science': [90, 88, 82, 91],
    'English': [88, 90, 85, 92]
}

# Create DataFrame
df = pd.DataFrame(data)

# Save to CSV
df.to_csv('student_marks.csv', index=False)

print("DataFrame saved to student_marks.csv")

DataFrame saved to student_marks.csv

# 9=How do you calculate the sum of values in a specific column of a Pandas DataFrame?

In [18]:
# Sample DataFrame
data = {'Product': ['Laptop', 'Phone', 'Tablet', 'Watch'],
        'Price': [1000, 500, 300, 200]}
df = pd.DataFrame(data)

# Calculate sum using 'sum()` method
total_price = df['Price'].sum()

print("Sum of 'Price' column:", total_price)

Sum of 'Price' column: 2000

# 10=Write a Python function that takes two numbers as arguments and returns their sum?

In [20]:
def add_numbers(num1, num2):

#  This function takes two numbers as arguments and returns their sum.

  Args
    
    num1: input.
    num2: input.

  Returns:
    The sum of num1 and num2.
  return num1 + num2
    
# Example usage:
result = add_numbers(5, 3)
print(f"The sum of 5 and 3 is: {result}")  # Output: The sum of 5 and 3 is: 8

IndentationError: unexpected indent (517607613.py, line 7)

# 11= Explain the difference between axis 0 and axis 1 in NumPy.

In [ ]:
#  Axis 0:
#  * Represents the vertical axis or columns.
#  * Operations along axis 0 are applied across rows.
#  Axis 1:
#  * Represents the horizontal axis or rows.
#  * Operations along axis 1 are applied across columns.

# Example:
arr = np.array([[1, 2, 3], [4, 5, 6]])

# Sum along axis 0 (column-wise sum)
sum_axis_0 = np.sum(arr, axis=0)
print("Sum along axis 0:", sum_axis_0)  # Output: [5 7 9]

# Sum along axis 1 (row-wise sum)
sum_axis_1 = np.sum(arr, axis=1)
print("Sum along axis 1:", sum_axis_1)  # Output: [ 6 15]

# 12=How can you rename the columns of a Pandas DataFrame?

In [ ]:
import pandas as pd

df = pd.DataFrame({'old_col1': [1, 2], 'old_col2': [3, 4]})
print(df)

df.rename(columns={'old_col1': 'new_col1', 'old_col2': 'new_col2'}, inplace=True)

print(df)

# 13=How do you handle missing data (NaN) in a Pandas DataFrame?

In [ ]:
# Sample DataFrame with missing values
data = {'A': [1, 2, np.nan, 4, 5],
        'B': [np.nan, 2, 3, 4, 5],
        'C': [1, 2, 3, np.nan, 5]}
df = pd.DataFrame(data)

# 1. Dropping Missing Values
# Drop rows with any missing values
df_dropped_rows = df.dropna() 

# Drop columns with any missing values
df_dropped_cols = df.dropna(axis=1) 

# 2. Filling Missing Values
# Fill missing values with a specific value (e.g., 0)
df_filled_zero = df.fillna(0)

# Fill missing values with the mean of the column
df_filled_mean = df.fillna(df.mean())

# Print the results
print("Original DataFrame:\n", df)
print("\nDataFrame with Rows Dropped:\n", df_dropped_rows)
print("\nDataFrame with Columns Dropped:\n", df_dropped_cols)
print("\nDataFrame with Missing Values Filled with 0:\n", df_filled_zero)
print("\nDataFrame with Missing Values Filled with Column Mean:\n", df_filled_mean)

# 14= how do you create the paython dictionary,and how is it diferent from a list?

In [2]:
# Structure:
## paython Dictionary:
# 1-Stores data in key-value pairs.
# 2-The key is used to retrieve the value.
# 3-Keys must be unique.

### for example:
my_dict = {'name': 'Alice', 'age': 25}
print(my_dict)
## List:
# 1-Stores data as a collection of ordered elements, which are accessed by their index (integer).
# 2-List elements are ordered and can have duplicates.
### for example:
my_list = ['Alice', 25, 'New York']
print(my_list)

{'name': 'Alice', 'age': 25}
['Alice', 25, 'New York']

# 15=What are Python Tuples?

In [ ]:
 ## paython tuples:
#(they are immutable). Once you create a tuple, you cannot modify, add, or remove items from it. Tuples are defined using parentheses ().
#syntax 
my_tuple = (1, 2, 3, 'apple')
print(my_tuple)
# example 
my_tuple = (10, 20, 30, 'Hello')
print(my_tuple[0])  # Output: 10
print(my_tuple[3])  # Output: Hello

## When to Use a Tuple Over a List

## 1-Immutability (Constant Data):

Use tuples when you want to ensure that the data cannot be modified. This is useful in scenarios where the integrity of the data should remain unchanged (e.g., storing a set of configuration values or coordinates).
### Example:
coordinates = (40.7128, 74.0060)  # Latitude and Longitude of New York
## 2-Performance:

Tuples can be more memory efficient and faster than lists for accessing elements because they are immutable. If you have a collection of data that doesn’t need to change, using a tuple can provide a performance benefit.
## 3-Data Integrity:

If you want to ensure that the data remains unchanged throughout your program (i.e., it should not be accidentally modified), using a tuple is a good choice.
### For example,
if you're passing data between functions and don't want it to be altered, a tuple is appropriate.
## 4-Using as Dictionary Keys:

Since tuples are immutable, they can be used as keys in a dictionary, whereas lists cannot. This is useful if you need to create a dictionary that uses multiple pieces of data (e.g., a pair of coordinates) as the key.
### Example:
location = {(40.7128, 74.0060): 'New York', (34.0522, 118.2437): 'Los Angeles'}
## 5-Packing and Unpacking:

Tuples are commonly used for packing and unpacking multiple values into a single variable or vice versa, such as returning multiple values from a function.
### Example of unpacking:
coordinates = (10, 20)
x, y = coordinates
print(x)  # Output: 10
print(y)  # Output: 20
Summary of When to Use a Tuple vs. a List:
## Use a tuple when:
1-You need an immutable collection (data that shouldn’t change).

2-You want to ensure performance and memory efficiency.

3-You need to use the collection as a key in a dictionary.

4-You need packing/unpacking multiple items.
## Use a list when:

1-You need a mutable collection (where you want to modify, add, or remove elements).  

2-You want to store data that could change over time, such as user inputs or items that need updating.

## 16= how do yo filter a rows in a dataframe based on a codition

In [9]:
# To filter a DataFrame in Python using pandas based on a condition, you can use boolean indexing. Here's how you can filter rows where a column's value is greater than a specific value.

##Example:
#Suppose you have a DataFrame df and want to filter rows where the values in column A are greater than 10:
import pandas as pd

# Example DataFrame
data = {'A': [5, 12, 8, 15, 3],
        'B': [7, 2, 9, 4, 6]}
df = pd.DataFrame(data)

# Filter rows where column 'A' is greater than 10
filtered_df = df[df['A'] > 10]

print(filtered_df)
# Explanation:
# df['A'] > 10 creates a boolean series (True or False).
# df[...] applies the condition to the DataFrame, returning only the rows where the condition is True.

    A  B
1  12  2
3  15  4

# 17= groupby() funtion work in pandas

### The groupby() function in pandas
is used to group data based on one or more columns and then apply some aggregation or transformation to each group. It's a powerful tool for summarizing and analyzing data by different categories or features.

### How groupby() works:
##### Grouping: 
It first groups the data based on the values in the specified column(s).
##### Aggregation:
After grouping, you can apply aggregation functions (e.g., sum(), mean(), count()) to summarize each group.
##### Transformation:
You can also apply transformations (e.g., normalizing or applying custom functions) to the data.

In [13]:
#example of case 
import pandas as pd

# Sample data
data = {
    'Salesperson': ['Alice', 'Bob', 'Alice', 'Bob', 'Alice'],
    'Region': ['North', 'South', 'North', 'South', 'North'],
    'Sales': [100, 200, 150, 180, 130]
}

# Create DataFrame
df = pd.DataFrame(data)

# Group by 'Salesperson' and calculate the total sales for each person
grouped_df = df.groupby('Salesperson')['Sales'].sum()

print(grouped_df)

Salesperson
Alice    380
Bob      380
Name: Sales, dtype: int64

# NUMPY and its use:
NumPy (Numerical Python) is a powerful Python library for numerical computing. It provides support
    for creating and manipulating large, multi-dimensional arrays 
    and matrices, along with a wide variety of mathematical functions to operate on these arrays.
Primary use case:
NumPy is widely used in data analysis, machine learning, and scientific computing,
as it enables efficient operations on large datasets through 
its optimized C-based implementation and support for vectorized operations.

In [ ]:
# converision of list to array
import numpy as np
my_list = [1, 2, 3, 4, 5]
np_array = np.array(my_list)

# What is the difference between a Python list and a NumPy array?
Feature	Python List	NumPy Array
Data Type	Can hold mixed data types.	Requires homogeneous data types (all elements must be of the same type).
Performance	Slower, as it lacks optimization for numerical operations.	Faster due to C-based implementation and support for vectorized operations.
Functionality:	Limited support for numerical and matrix operations.	Offers extensive mathematical and matrix manipulation capabilities.

# Create Array from List
np.array([1, 2, 3]).

In [ ]:
#How do you create a 2D array (matrix) in NumPy?
#A 2D array (matrix) can be created by passing a nested list (list of lists) to the numpy.array() function.
import numpy as np
matrix = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])

In [ ]:
#What is the purpose of the np.arange() function?
#The np.arange() function generates an array with evenly spaced values within a specified range.
#Syntax:
import numpy as np
array = np.arange(1, 10, 2)
#np.arange(start, stop, step)

# How do you find the shape of a NumPy array?
The shape of a NumPy array can be determined using the .shape attribute, which returns a tuple representing the dimensions of the array.
Example:
array = np.array([[1, 2, 3], [4, 5, 6]])
print(array.shape)

# What does the np.reshape() function do?
The np.reshape() function changes the shape of a NumPy array without altering its data.
It requires that the total number of elements in the reshaped array matches the original array.
Example:
array = np.array([1, 2, 3, 4, 5, 6])
reshaped_array = np.reshape(array, (2, 3))

In [ ]:
#8. How do you perform element-wise addition of two NumPy arrays?
#Element-wise addition of two NumPy arrays can be done using the + operator.
#The arrays must have the same shape or be compatible via broadcasting.
#Example:
a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
result = a + b

# 9. What is broadcasting in NumPy?
Broadcasting in NumPy refers to the ability to perform operations on arrays 
of different shapes by automatically expanding the smaller array to match 
the larger arraydimensions. 
This avoids the need to manually replicate data.
Example:
a = np.array([1, 2, 3])
b = 5
result = a + b

In [ ]:
# mean of upy array
import numpy as np
array = np.array([1, 2, 3, 4, 5])
mean_value = np.mean(array)

# Series vs DataFrame
Series: 1D (single column); DataFrame: 2D (multiple columns).

# Matplotlib
Matplotlib
Library for creating static, interactive, or animated visualizations.

# Line Plot
plt.plot(x_values, y_values).

# plot() vs scatter()
plot() connects points; scatter() shows individual points.

# Plot Title
plt.title('Title').

# plot labelling
plt.xlabel('X Label'), plt.ylabel('Y Label')

# function pf plt.legend()
plt.legend()
Displays labels for plot elements.

# Bar Chart
plt.bar(categories, values).

# Save Plot as an image file
plt.savefig('plot.png').

# figure() vs subplot()
figure() creates a new canvas; subplot() adds a plot to a grid.

# Histogram
plt.hist(data, bins=10).

# Seaborn
Seaborn
High-level interface for statistical graphics; built on Matplotlib.

# Scatter Plot usng seaborn
sns.scatterplot(x='col1', y='col2', data=df).

# sns.set()
Sets aesthetic defaults (e.g., sns.set(style='darkgrid')).

# Histogram usng sea born
sns.histplot(data=df, x='column').

# histplot() vs kdeplot()
histplot() shows counts; kdeplot() shows smoothed density.

# Heatmap using seaborn
sns.heatmap(data_matrix).

# pairplot() function
Creates scatter plots for all numerical columns in a DataFrame.

# Regression Line to scatter plot in sea born
sns.regplot(x='col1', y='col2', data=df).

# Change Theme in sea born
sns.set_style('darkgrid').

# Box Plot using seaborn
sns.boxplot(x='category', y='value', data=df).

# Random Library
# Purpose
Generates pseudo-random numbers for simulations, games, etc.

# Random Integer between 1 and hundred
random.randint(1, 100).

# randint() vs randrange()
randint(1, 10) includes 10; randrange(1, 10) stops at 9.

# Random Floating point between 0 and 1
random.random().

# Shuffle List using random library
random.shuffle(my_list).

# purpose of random.seed()
Ensures reproducibility (e.g., random.seed(42)).

# Select Element from list using random library
random.choice(my_list).

# Random Sample of 5 elements list
random.sample(my_list, 5).

# Normal Distribution using random library
random.gauss(mu=0, sigma=1) or random.normalvariate().